* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 3rem 0;
}

.container {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}
.slides {
    width: 100%;
    display: none;
    object-fit: fill;
    aspect-ratio: 1;
    
    
}

.active {
    display: block;
}

.btnNext,
.btnPrev {
    position: absolute;
    top: 25rem;
}

.btnNext {
    right: 25rem;
}

.btnPrev {
    left: 25rem;
}