* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 3rem 0;
}

.container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.slides {
    width: 100%;
    display: none;
    object-fit: contain;
}

.active {
    display: block;
}